<app-header></app-header>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 class="heading-title">Dashboard</h1>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-2 ml-auto">
            <div class="menu-card">
                <a [routerLink]="['/dashboard/upload']">
                    <img class="img img-responsive" src="assets/images/upload-funds.png" alt="" />
                    <span>Upload Funds</span></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="menu-card">
                <a [routerLink]="['/dashboard/funds']">
                    <img class="img img-responsive" src="assets/images/funds.png" alt="" />
                    <span>Funds List</span></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="menu-card">
                <a [routerLink]="['/dashboard/dailyfunds']">
                    <img class="img img-responsive" src="assets/images/daily-funds.png" alt="" />
                    <span>Daily Funds List</span></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="menu-card">
                <a [routerLink]="['/dashboard/edit-profile']">
                    <img class="img img-responsive" src="assets/images/edit-profile.png" alt="" />
                    <span>Edit Profile</span></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mr-auto">
            <div class="menu-card">
                <a [routerLink]="['/dashboard/backup']">
                    <img class="img img-responsive" src="assets/images/backup.png" alt="" />
                    <span>Funds Backup</span></a>
            </div>
        </div>
    </div>
</div>